body {
	margin: 2em 2em 4em;
	-moz-user-select: text;
	cursor: auto;
}

/* Some chinese definitions come with their own bg-color.
 * It totally messes up the display.
 * Remove it with this.
 */
body *:not(#plus-button):not(a) {
	background-color: unset !important;
}

/* wew. css priorities... :link didn't work on ff58, worked on ff60. :any-link works. */
a.link-actual:any-link {
	text-decoration: underline;
}

a:any-link {
	text-decoration: none;
}

a:link:hover {
	border-bottom: 1px solid;
}

a:link:active {
	filter: invert(100%);
}

#plus-button {
	cursor: auto;
	border: 1px outset ThreeDLightShadow;
}

#plus-button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	cursor: not-allowed;
}

footer {
	font-style: italic;
	font-size: 0.8em;
}

.slider h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
	border-bottom: 1px dotted gray;
	width: 95%;
}


.slider h4:first-child {
	margin-top: 0.3em;
}

.slider {
	padding-left: 0.5em;
	overflow-y: auto;
	max-height: 500px; /* approximate max height */
	border: 1px solid black;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
	border: none;
}

ol > li:first-child {
	margin-top: 0;
}


@media screen and (min-width: 350px) {
	body {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 350px) {
	body {
		margin-left: 1em;
	}
	ul {
		padding-inline-start: 11%;
	}
	ol {
		padding-inline-start: 8%;
	}
	ol > li:not(:first-child) {
		margin-top: 0.5em;
	}
}

/* Not too sure about this rule. */
@media screen and (max-height: 621px) {
	body {
		margin-bottom: 2em;
	}
}

